<h1>Student Show Page</h1>
<hr>


<p>Student Name: <%= @student.name %></p>
<p><% @student.courses.each do |course| %></p>
<p>Course: <%=course.name %></p>
  <p><%course.courses_students.each do |student|%></p>
  <p>Grade: <%= student.grade%></p>
  <% end  %>
<% end  %>
<hr>
